@tailwind base;
@tailwind components;
@tailwind utilities;


.containerHero, .texts{
  animation: fade-out linear;
  animation-timeline: view();
  animation-range: exit -200px;
}


@keyframes fade-out{
  to { opacity: 0;}
}


.line {
  width: 100vw;
}
.leftSideHero, .rightSideHero {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.leftSideHero {
  color:  white;
  transform: skew(0deg, -15deg);
}
.rightSideHero {
  color: black;
  transform: skew(0deg, 15deg);
}
.leftSideHero .contentHero {
  width: 100vw;
  text-align: center;
}
.rightSideHero .contentHero {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
.spanHero {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}

.cardHero{
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  background-position: center;
  cursor:pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0 10px 30px -5px rgba(0,0,0,0.8);
}

.cardHero >.row{
  color:white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.cardHero > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .8rem;
 }

.cardHero > .row > .descriptionHero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3 ease;
}

.descriptionHero p {
  color: whitesmoke;
  padding-top: 5px;
}

.descriptionHero h4 {
  text-transform: uppercase;
}

.ratio {
  display: none;
}

.ratio:checked + label { 
  width: 600px;
}

.ratio:checked + label .descriptionHero { 
  opacity: 1 !important;
  transform: translateY(0) !important;
}
