@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100%;
  overflow-x: hidden;
}

[class*="card"]{
  background: linear-gradient(0deg, rgba(254,226,226,1) 0%, white 48%, rgba(255,255,255,0) 100%);
;
}

.filterSection{
  background: linear-gradient(90deg, rgba(255,237,213,1) 0%, rgba(255,246,234,1) 80%, rgba(255,255,255,0) 100%);

}
  
.bagIconOpen{
  min-width: 22rem;
  height: 19rem;
  border-radius: 1rem;
  position: absolute;
  left: -7.7rem;
  top:0rem;

}

.line {
  width: 100vw;
}
.leftSideHero, .rightSideHero {
  width: 50vw;
  overflow: hidden;
  display: inline-block;
}
.leftSideHero {
  color:#6F84B1;
  transform: skew(0deg, -15deg);
}
.rightSideHero {
  color: black;
  transform: skew(0deg, 15deg);
}
.leftSideHero .contentHero {
  width: 100vw;
  text-align: center;
}
.rightSideHero .contentHero {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}
.spanHero {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}